/*-- -------------------------- -->
<---        ABOUT CONTENT       -->
<--- -------------------------- -*/

.about-content {
    margin-top: 30px;
}

.about-content-container img {
    width: 100%;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.1);
    box-shadow: 0 0 40px rgba(0,0,0,.1);
    border-radius: 5px;
    display: none;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content p:first-child {
    font-size: 0.875em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 0;
}

.about-content h2 {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;
    border-left: 5px solid rgb(154,222,233);
    padding-left: 20px;
}

.about-content ul {
    padding-left: 50px;
    padding-top: 30px;
}

.about-content ul li {
    font-weight: 600;
    list-style: none;
    margin-bottom: 15px;
    font-size: 1.125em;
    color: #222;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.about-content ul li:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 9px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 2px solid rgb(154,222,233);
}

.about-content ul li:before svg {
    width: 100px !important;
}

/*-- -------------------------- -->
<---         ABOUT STRIP        -->
<--- -------------------------- -*/

#about-strip {
    background: url("/images/call-strip-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#about-strip:before {
    content: '';
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.strip-content h2 {
    color: #fff;
    text-align: center;
    font-size: 1.875em;
    margin-bottom: 50px;
    position: relative;
    z-index: 100;
}

.strip-content button {
    display: block;
    margin: auto;
    position: relative;
    z-index: 100;
}

#about-strip img {
    width: 450px;
    position: absolute;
    display: none;
}

.services-button {
    line-height: 50px;
    background: #9dd51f;
    color: #fff;
    padding: 0 20px;
    display: block;
    width: 190px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    z-index: 10;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    margin-top: 70px;
}

.sun {
    position: absolute;
    visibility: hidden;
    width: 50px;
    top: -40px;
    left: -40px;
    opacity: 0;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.services-button:hover .sun {
    top: -20px !important;
    left: -20px !important;
    opacity: 1 !important;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    visibility: visible;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
    }
}

.services-button:hover {
    background: #36908f;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.services-button:hover .services-button .sun {
    top: -25px;
    left: -25px;
}

/*-- -------------------------- -->
<---         Compliance         -->
<--- -------------------------- -*/

#compliance {
    padding-bottom: 50px;
}

.beach2 {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 450px;
}

.image-background {
    background: url("/images/tropical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    position: relative;
}

.image-background:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: rgb(154,222,233);
    background: -o-radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    background: radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9adee9",endColorstr="#36908f",GradientType=1);
    }

#compliance h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#compliance ul li {
    list-style: none;
    position: relative;
}

#compliance ul li:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 9px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 2px solid rgb(154,222,233);
}

@media screen and (min-width: 768px) {

    .about-content {
        display: block;
        width: 600px;
        margin: auto;
    }

    .about-content h2 {
        font-size: 2em;
    }

    .about-content ul {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
        overflow: visible;
        height: 260px;
    }

    #compliance .container {
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {

    /*-- -------------------------- -->
    <---           Landing          -->
    <--- -------------------------- -*/

    #sub-page {
        margin-bottom: 80px;
    }

    #sub-page h1 {
        font-size: 60px;
    }

    .image-background {
        background-attachment: fixed;
    }

    .about-content {
        width: 700px;
    }

    #compliance .container {
        width: 700px;
    }

    /*-- -------------------------- -->
    <---           Contact          -->
    <--- -------------------------- -*/

    #call-now h2 {
        width: 470px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1400px) {

    #compliance {
        margin-bottom: 100px;
    }

    #compliance .container {
        text-align: center;
        width: 100% !important;
        max-width: 100%;
    }

    .beach2 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 80px;
        max-width: 550px;
    }

    .wrapper {
        display: inline-block;
        text-align: left !important;
        width: 500px;
        vertical-align: middle;
    }
}