
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

#pricing .container {
    padding-top: 50px;
}

#pricing h2 {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.image {
    background: url("/images/waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    height: 250px;
    width: 100%;
    margin: 50px auto;
    position: relative;
}

.image span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 44px;
    line-height: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/*-- -------------------------- -->
<---         Stage One          -->
<--- -------------------------- -*/

#stage-one h2 {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;
    border-left: 5px solid rgb(154,222,233);
    padding-left: 20px;
}

/*-- -------------------------- -->
<---           Prices           -->
<--- -------------------------- -*/

.price-card {
    background: var(--primary);
    width: 218px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    margin: 40px auto;
}

.content {
    position: absolute;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content span {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff;
}

.content a {
    text-decoration: none;
}

.content .quantity {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 12px;
}

.content .amount {
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .sub-script {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 27px;
}

.content .total {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.aside {
    text-align: center;
    font-size: 15px;
    padding: 0 10px;
}

#prices .image {
    background: url("/images/sandy.jpg");
    background-position: center 60%;
}

.image:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: rgb(154,222,233);
    background: -o-radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    background: radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9adee9",endColorstr="#36908f",GradientType=1);
    }

/*-- -------------------------- -->
<---         Stage Two          -->
<--- -------------------------- -*/

#stage-two {
    padding-bottom: 20px;
}

#stage-two h2 {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;
    border-left: 5px solid rgb(154,222,233);
    padding-left: 20px;
}

/*-- -------------------------- -->
<---           Collect          -->
<--- -------------------------- -*/

#collect {
    padding: 0px 0 50px;
}

#collect img {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-bottom: 40px;
}

#collect h2 {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

#collect h3 {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    line-height: 26px;
}

/*-- -------------------------- -->
<---      Pricing Contact       -->
<--- -------------------------- -*/

#call-now p {
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 768px) {

    /*-- -------------------------- -->
    <---          Prices            -->
    <--- -------------------------- -*/

    #prices .container {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .price-card {
        display: inline-block;
        margin: 15px;
    }

    .aside {
        max-width: 450px;
        margin: auto;
    }

    #collect {
        padding-bottom: 70px;
    }

    #collect h2 {
        font-size: 50px;
        line-height: 55px;
    }

    .image {
        margin: 70px 0;
    }
    
}

@media screen and (min-width: 1024px) {

    .image {
        margin: 100px 0;
        background-attachment: fixed !important;
    }

    main #prices .container {
        max-width: 1000px;
    }

    #prices {
        margin: 60px 0;
    }

    .price-card {
        margin: 0;
        margin-right: 16px;
    }
    
    .price-card:nth-of-type(4) {
        margin-right: 0;
    }

    .image {
        width: 764px;
        margin: 100px auto;
        border-radius: 20px;
    }
}