#services {
    padding-bottom: 50px;
}

#services ul li {
    list-style: none;
    position: relative;
}

#services ul li:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 9px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 2px solid rgb(154,222,233);
}

.image {
    background: url("/images/palms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    height: 250px;
    width: 100%;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
}

.image span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 44px;
    line-height: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

.image:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: .8;
    background: rgb(154,222,233);
    background: -o-radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    background: radial-gradient(circle, rgba(154,222,233,0.8519782913165266) 5%, rgba(54,144,143,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9adee9",endColorstr="#36908f",GradientType=1);
}

@media screen and (min-width: 768px) {

    .container {
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {

    .container {
        width: 700px;
    }

    .image {
        background-attachment: fixed;
    }
}