/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

.landing-wave {
    display: none;
}

.desktop-button {
    display: none !important;
}

#hero {
    height: auto;
    width: 100%;
    background: rgb(154,222,233);
    background: -o-linear-gradient(349deg, rgba(154,222,233,1) 0%, #73d1e2 100%);
    background: linear-gradient(101deg, rgba(154,222,233,1) 0%, #73d1e2 100%);
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.heroText {
	padding-top: 75px;
    position: relative;
    z-index: 3;
    height: auto;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-58px);
            transform: translateY(-80px);
}

.heroText h1 {
	font-size: 2em;
	color: #fff;
	text-align: center;
	font-weight: bold;
	overflow-y: hidden;
    margin: 0;
    line-height: 1.3em;
}

.heroText h2 {
	color: #fff;
	font-size: 1.3em;
	text-align: center;
	line-height: 1.3em;
    padding: 10px 0;
    position: relative;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.about-button {
    border: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgb(9, 190, 69);
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.circle {
    width: 70px;
    height: 70px;
    background: rgb(233, 233, 233);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.circle1 {
    -webkit-animation-name: circle1;
            animation-name: circle1;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.circle2 {
    -webkit-animation-name: circle2;
            animation-name: circle2;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.circle3 {
    -webkit-animation-name: circle3;
            animation-name: circle3;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes circle1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3);
    }
}

@keyframes circle1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3);
    }
}

@-webkit-keyframes circle2 {
    0% {
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.8);
                transform: scale(2.8);
    }
}

@keyframes circle2 {
    0% {
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.8);
                transform: scale(2.8);
    }
}

@-webkit-keyframes circle3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: .3;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}

@keyframes circle3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: .3;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}

#Capa_1 {
    width: 30px !important;
    height: 30px !important;
    position: relative;
    z-index: 1000;
}

.arrow-svg {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 20px;
    margin-left: 15px;
    right: -15px;
}

.graphic {
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: -2px;
}

.man {
    position: absolute;
    bottom: 5px;
    right: -140px;
    z-index: 1;
}

.palm {
    position: absolute;
    bottom: 0px;
    height: 200px;
    left: 50%;
    margin-left: 50px;
}

.bird {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -160px;
    width: 30px;
}

.bird2 {
    position: absolute;
    bottom: 230px;
    right: 50%;
    margin-right: -150px;
    width: 30px;
}

/*-- -------------------------- -->
<---          SERVICES          -->
<--- -------------------------- -*/

#services {
    margin-top: 60px;
}

#services .service-item {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 350px;
    margin-bottom: 80px;
    padding: 0 20px;
}

#services .service-item img {
    width: 80px;
    display: block;
    margin: auto;
}

#services .service-item h2 {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 27px;
    margin-bottom: 10px;
}

#services .service-item p {
    text-align: center;
    display: block;
    margin: auto;
}

/*-- -------------------------- -->
<---          Call Now          -->
<--- -------------------------- -*/

#call-now {
    background: #73d1e2;
    padding: 50px 0;
    position: relative;
}

#call-now h2 {
    font-size: 27px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

#call-now a {
    line-height: 50px;
    background: #9dd51f;
    color: #fff;
    padding: 0 20px;
    display: block;
    width: 190px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

#call-now a:before {
    content: '';
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    background: url("/images/seagull.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -15px;
    right: -10px;
}

/*-- -------------------------- -->
<---            VIDEO           -->
<--- -------------------------- -*/

#video {
    background: url("/images/landing.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    height: 630px;
}

.top-image {
    position: absolute;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -3px;
    width: 100%;
}

.bottom-image {
    position: absolute;
    bottom: -3px;
    width: 100%;
}

#video:before {
    content: '';
    background: rgb(94,11,15);
    background: -o-linear-gradient(305deg, rgba(94,11,15,1) 0%, rgba(140,17,23,0.927608543417367) 72%, rgba(234,28,38,0.8295693277310925) 100%, rgba(240,96,103,1) 100%);
    background: linear-gradient(145deg, rgba(94,11,15,1) 0%, rgba(140,17,23,0.927608543417367) 72%, rgba(234,28,38,0.8295693277310925) 100%, rgba(240,96,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e0b0f",endColorstr="#f06067",GradientType=1);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.video-content {
    position: relative;
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.video-content h2 {
    color: #fff !important;
    position: relative;
    z-index: 1000;
    text-align: center;
    margin-bottom: 30px;
}

.video-content h3 {
    color: #fff !important;
    position: relative;
    z-index: 1000;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.video {
    background: url("/images/house.png");
    width: 80%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 100;
    margin: auto;
    bottom: -150px;
}

.iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}

/*-- -------------------------- -->
<---          QUALITIES         -->
<--- -------------------------- -*/

#qualities {
    height: auto;
}

.quality-card {
    padding: 50px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -9px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.svg-line {
    width: 50px !important;
    height: auto;
}

.icon-svg {
    width: 70px !important;
    height: auto;
    margin-bottom: 30px;
}

.quality-card h3 {
    text-align: center;
}

.quality-card p {
    text-align: center;
}

.spotlight {
    overflow: hidden;
    position: relative;
    background: var(--secondary);
    color: rgba(250, 250, 250, .98);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.spotlight h2 {
    font-size: 30px;
    line-height: 1.4em;
}

.spotlight-svg {
    width: 70px !important;
    height: auto;
    bottom: -50px;
}

.spotlight p {
    color: rgba(250, 250, 250, .95);
    margin-bottom: 25px;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.quality-svg {
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 150px !important;
    height: 150px;
    opacity: .1;
}

/*-- -------------------------- -->
<---           GALLERY          -->
<--- -------------------------- -*/

/* Phones */
@media screen and (min-width: 370px) and (max-width: 430px) {

    #hero {
        height: 630px;
    }

    .hero-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: auto;
    }

    .heroText {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }
}

/* Phones */
@media screen and (min-width: 370px) and (max-width: 430px) {

    .container {
        padding: 0 10px;
        margin: auto;
    }

    .heroText h1 {
        width: 350px;
        font-size: 30px;
    }

    .heroText h2 {
        width: 300px;
    }

    .icon-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .icons {
        width: 180px;
    }
}

/* Tablets */
@media screen and (min-width: 768px) {

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #hero {
        height: 860px;
    }

    .heroText {
        width: 600px;
        padding-top: 150px;
    }

    .heroText h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .heroText h2 {
        width: 500px;
        font-size: 25px;
    }

    .bird {
        margin-left: -250px;
    }

    .palm {
        margin-left: 100px;
        bottom: 20px;
    }

    /*-- -------------------------- -->
    <---          SERVICES          -->
    <--- -------------------------- -*/

    

    /*-- -------------------------- -->
    <---           Contact          -->
    <--- -------------------------- -*/

    #call-now h2 {
        width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }

    /*-- -------------------------- -->
    <---            VIDEO           -->
    <--- -------------------------- -*/

    #video {
        margin-bottom: 130px;
    }

    .video {
        height: 350px;
        bottom: -250px;
    }

    .iframe {
        height: 100%;
    }

    /*-- -------------------------- -->
    <---          QUALITIES         -->
    <--- -------------------------- -*/

    .qualities-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 700px;
    }

    .quality-card {
        width: 270px;
    }

    .spotlight {
        width: 600px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .quality-card:nth-child(4) {
        width: 600px;
        padding-left: 70px;
        padding-right: 70px;
    }

    /*-- -------------------------- -->
    <---           GALLERY          -->
    <--- -------------------------- -*/

    .gallery-topper {
        padding-top: 70px;
    }

    .gallery-topper h2 {
        -webkit-transform: translateX(-160px);
            -ms-transform: translateX(-160px);
                transform: translateX(-160px);
        font-size: 30px;
    }

    .gallery img {
        width: 50%;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {

    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /*-- -------------------------- -->
    <---           LANDING          -->
    <--- -------------------------- -*/

    .palm {
        margin-left: 200px;
        height: 300px;
        bottom: 70px;
    }

    .mobile {
        display: none !important;
    }

    .graphic {
        z-index: 1;
    }

    .about-button:hover {
        cursor: pointer;
    }

    /*-- -------------------------- -->
    <---          SERVICES          -->
    <--- -------------------------- -*/
    
    #services {
        padding: 100px 0;
    }

    #services .container {
        text-align: center;
    }

    #services .service-item {
        display: inline-block;
        width: 320px;
    }

    #services .service-item img {
        margin-bottom: 30px;
    }

    #services .service-item p {
        font-size: 18px;
    }

    /*-- -------------------------- -->
    <---            VIDEO           -->
    <--- -------------------------- -*/

    #video {
        height: 1000px;
        background-attachment: fixed;
    }

    .video-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .video-content h2 {
        font-size: 44px;
        margin-top: 190px;
    }
    
    .video-content h3 {
        width: 700px;
        margin: auto;
        margin-bottom: 100px;
    }

    .video {
        height: 400px;
        width: 600px;
        position: absolute;
        bottom: -400px;
    }

    .iframe {
        height: 100%;
    }

    .bottom-image {
        position: absolute;
        width: 100%;
        bottom: -3px;
    }

    
    /*-- -------------------------- -->
    <---          QUALITIES         -->
    <--- -------------------------- -*/

    #qualities {
        max-width: 1200px;
        margin: auto;
    }

    .qualities-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 !important;
        padding: 0;
        max-width: 1200px;
    }

    .quality-card {
        width: 250px;
        height: auto;
        max-height: 400px;
        background: #ffffff;
    }

    .spotlight {
        max-height: 650px;
        width: 350px;
        background: var(--secondary);
    }

    /*-- -------------------------- -->
    <---           GALLERY          -->
    <--- -------------------------- -*/

    .gallery-topper {
        height: 200px;
    }
    .gallery-topper h2 {
        width: 280px;
        margin-left: 20%;
        margin-top: 50px;
        font-size: 40px;
    }

    .gallery img {
        width: 20%;
        position: relative;
        z-index: 10;
    }
}